%h1 Admin
%ul.small-block-grid-4
  %li
    .panel.text-center
      %h2= @guests.count
      %p= "Guests".pluralize(@guests.count)
  %li
    .panel.text-center
      %h2= @groups.count
      %p= "Groups".pluralize(@groups.count)
  %li
    .panel.text-center
      %h2= "£12,345"
      %p= "Estimated Cost"
  %li
    .panel.text-center
      %h2= @event.days_to_go
      %p= "#{"Days".pluralize(@event.days_to_go)} to go"
- if @guests.empty?
  %p.alert
    You havn't added any guests yet. Why not #{link_to "add some now", new_guest_path}?
- else

  %hr Settings
  = render partial: "events/form"

  %hr Sections

  %table
    %thead
      %tr
        %th Title
        %th Actions
    %tbody
      - @event.sections.each do |section|
        %tr
          %td= section.title
          %td
            = link_to "edit", edit_event_section_path(@event, section)
            = link_to "delete", event_section_path(@event, section), data: { confirm: "Are you sure you want to delete this section?" }, method: :delete


  = render partial: "sections/form"

  %h2 Venue
  = render partial: "venue_photos/form"

  %h2
    Guests
    %small= link_to "New Guest", new_event_guest_path

  %hr

  %table
    %thead
      %tr
        %th Guests
        %th RSVP'd
        %th Actions
    %tbody
      - @groups.each do |group|
        %tr
          %td= group.title
          %td= group.rsvp
          %td
            = link_to "edit", edit_event_group_path(@event, group)
            = link_to "delete", event_group_path(@event, group), data: { confirm: "Are you sure you want to delete this group of guests?" }, method: :delete
