.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('/assets/tmp/venue.jpg');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.venue_name}"
      %h4= "in #{@event.venue_address_city}"

      %br
      %br
      %br

      = link_to "RSVP now", "#", class: "button large"

%br

.row
  .column.small-12
    %h5 RSVP
    = simple_form_for rsvp_event_groups_path(@event) do |f|
      %h3 Step one - enter your name
      .row
        .column.small-12.column.medium-6.medium-offset-3
          = f.input :guest, collection: @groups, as: :select
      %br

    .row#rsvp-form

.box.box--mint
  .row
    .column.small-12
      %h5 Venue

  .row
    %ul.small-block-grid-3
      %li= image_tag "tmp/1.jpg"
      %li= image_tag "tmp/2.jpg"
      %li= image_tag "tmp/3.jpg"

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
        %p Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %br
        .row
          .column.small-12.medium-7
            :plain
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.8518744606495!2d-2.625113000000029!3d51.460876000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718db673df090f%3A0x768bc20869829f30!2sMansion+House+Bristol!5e0!3m2!1sen!2suk!4v1416780421630" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          .column.small-12.medium-5
            %h3 Directions
            %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

  %br

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Gifts
    %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
    %p Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

.box.box--mint
  .row
    .column.small-12.medium-8.medium-offset-2
      %h5 Itinerary
      %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
      %p Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.


.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos
    %p Come back to this site after the wedding to upload and view photos.

    %h2= t('photos.title')
    = form_for Photo.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
      .row
        .span16.fileupload-buttonbar
          .progressbar.fileupload-progressbar.nofade
            %div{:style => "width:0%;"}
          %span.btn.success.fileinput-button
            %span
              = t('photos.add_files')
              \...
            = f.file_field :file, :multiple => true
          %button.btn.primary.start{:type => "submit"}= t('photos.start_upload')
          %button.btn.info.cancel{:type => "reset"}= t('photos.cancel_upload')
          %button.btn.danger.delete{:type => "button"}= t('photos.delete_selected')
          %input.toggle{:type => "checkbox"}/
      %br/
      .row
        .span16
          %table.zebra-striped
            %tbody.files
          #loading
    :javascript
      var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
      };
    / IMPORTANT fade class makes fileupload depend on css transition effect REMOVE or RENAME it
    %script#template-upload{:type => "text/html"}
      :cdata
        {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-upload nofade">
        <td class="preview"><span class="nofade"></span></td>
        <td class="name">{%=file.name%}</td>
        <td class="size">{%=o.formatFileSize(file.size)%}</td>
        {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
        <td class="progress"><div class="progressbar"><div style="width:0%;"></div></div></td>
        <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary">#{t('photos.template.start')}</button>{% } %}</td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}<button class="btn info">#{t('photos.template.cancel')}</button>{% } %}</td>
        </tr>
        {% } %}
    %script#template-download{:type => "text/html"}
      :cdata
        {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-download nofade">
        {% if (file.error) { %}
        <td></td>
        <td class="name">{%=file.name%}</td>
        <td class="size">{%=o.formatFileSize(file.size)%}</td>
        <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
        {% } %}</td>
        <td class="name">
        <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
        </td>
        <td class="size">{%=o.formatFileSize(file.size)%}</td>
        <td colspan="2"></td>
        {% } %}
        <td class="delete">
        <button class="btn danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">#{t('photos.template.delete')}</button>
        <input type="checkbox" name="delete" value="1">
        </td>
        </tr>
        {% } %}
    / The jQuery UI widget factory, can be omitted if jQuery UI is already included
    = javascript_include_tag 'jquery.ui.widget.js'
    / The Templates and Load Image plugins are included for the FileUpload user interface
    %script{:src => "https://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
    %script{:src => "https://blueimp.github.com/JavaScript-Load-Image/load-image.all.min.js"}
    / The Iframe Transport is required for browsers without support for XHR file uploads
    = javascript_include_tag 'jquery.iframe-transport.js'
    = javascript_include_tag 'jquery.fileupload.js'
    = javascript_include_tag 'jquery.fileupload-ui.js'
    / add include_tag js files to config.assets.precompile in ...environments/production.rb if you have it in vendor/ assets
    %script{:charset => "utf-8", :type => "text/javascript"}
      :cdata
        $(function () {
        \// Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload();
        \//
        \// Load existing files:
        $.getJSON($('#fileupload').prop('action'), function (files) {
        var fu = $('#fileupload').data('fileupload'),
        template;
        fu._adjustMaxNumberOfFiles(-files.length);
        template = fu._renderDownload(files)
        \.appendTo($('#fileupload .files'));
        \// Force reflow:
        fu._reflow = fu._transition && template.length &&
        template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
        });

        });
