= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"

.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('#{@primary_venue_photo}');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.venue_name}"
      %h4= "in #{@event.venue_address_city}"

      %br
      %br
      %br

      = link_to raw("<span class='icon icon-pencil'></span> RSVP now"), "#rsvp", class: "button large js-scroll-to"

%br

#rsvp.row
  .column.small-12
    %h5 RSVP
    = simple_form_for rsvp_event_groups_path(@event) do |f|
      %h3 Step one - enter your name
      .row
        .column.small-12.column.medium-6.medium-offset-3
          = f.input :guest, collection: @groups, as: :select, placeholder: "Select your name(s)"
      %br

    .row#rsvp-form

.box.box--mint
  .row
    .column.small-12
      %h5 Venue

  .row-fluid.overflow
    %ul.small-block-grid-3
      - @venue_photos.first(3).each do |venue_photo|
        %li= image_tag venue_photo.file_url

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        = raw(@event.venue_body.from_markdown_to_html)
        %br
        %h4 Directions
        = raw(@event.venue_directions.from_markdown_to_html)
        %br
        .map--overlay{onclick: "style.pointerEvents='none'"}
        :plain
          <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20mansion%20house%2C%20bristol&key=AIzaSyBSAx1faftn9NnjVbA1BV0RWm6jDux8_g4"></iframe>

  %br

- @event.sections.each do |section|
  %section
    .row
      .column.small-12.medium-8.medium-offset-2
        %h5= section.title
        = section.content

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos

- if !@event.in_past?
  = render partial: "photos/form"
  .js-justified__container
    .js-justified
      = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  %p Come back after the wedding to view and upload photos

%br

%footer
  %p
    %small
      For our techie friends hitched.it is an
      %a{:href => "http://github.com/adambutler/wedding-on-rails"} open source project
      built on Ruby-on-Rails.
