= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"

.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('#{@primary_venue_photo}');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.venue_name}"
      %h4= "in #{@event.venue_address_city}"

      %br
      %br
      %br

      = link_to "RSVP now", "#", class: "button large"

%br

.row
  .column.small-12
    %h5 RSVP
    = simple_form_for rsvp_event_groups_path(@event) do |f|
      %h3 Step one - enter your name
      .row
        .column.small-12.column.medium-6.medium-offset-3
          = f.input :guest, collection: @groups, as: :select
      %br

    .row#rsvp-form

.box.box--mint
  .row
    .column.small-12
      %h5 Venue

  %ul.small-block-grid-3
    - @venue_photos.first(3).each do |venue_photo|
      %li= image_tag venue_photo.file_url

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
        %p Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %br
        .row
          .column.small-12.medium-7
            .map--overlay{onclick: "style.pointerEvents='none'"}
            :plain
              <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20mansion%20house%2C%20bristol&key=AIzaSyBSAx1faftn9NnjVbA1BV0RWm6jDux8_g4"></iframe>
          .column.small-12.medium-5
            %h3 Directions
            %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

  %br

- @event.sections.each do |section|
  %section
    .row
      .column.small-12.medium-8.medium-offset-2
        %h5= section.title
        = section.content

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos

- if @event.in_past?
  = render partial: "photos/form"
  .js-justified__container
    .js-justified
      = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  %p Come back after the wedding to view and upload photos
