.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('/assets/tmp/venue.jpg');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.venue_name}"
      %h4= "in #{@event.venue_address_city}"

      %br
      %br
      %br

      = link_to "RSVP now", "#", class: "button large"

%br

.row
  .column.small-3
    = image_tag "//placehold.it/800x600&text=1"
    = image_tag "//placehold.it/800x600&text=2"
    = image_tag "//placehold.it/800x600&text=3"

  .column.small-7.small-offset-1.end
    %h5 RSVP
    = simple_form_for rsvp_event_groups_path(@event) do |f|
      %h3 Step one - enter your name
      = f.input :guest, collection: @groups, as: :select

    #test

